<!doctype html>
<html>
  <head>
    <title> Crypt.org </title>
    <link rel="stylesheet" type="text/css" href="css/style.css">

  </head>
  <body>
    <h1 id="title"> CRYPT </h1>
    <div>
    <form class= "form" method="post" action = "/encrypt">
      <label for "encrypt"> Type Message Here:</label> <input class= "box" type ="text" name = "encrypt">
      <input class="submitbutton" type="submit" value="Encrypt!">
    </form>
    </div>
      <br>
    <div>
    <form class="form" method="post" action = "/decrypt">
      <label for "decrypt"> Type Message Here:</label><input class= "box" type="text" name="decrypt">
     <input class="submitbutton" type="submit" value="Decrypt!">
     </form>
    </div>
 
  </body>
</html>