<!doctype html>
<html>
  <head>
    <title> Squacoons Sighting Report Form </title>
    <link rel="stylesheet" type="text.css" href="css/style.css">
  </head>
  <body>
    <h2> Squacoon Sighting Report Form </h2>
    <form method="post">
      <label for "search">Search Stuff </label> <input type="search">
      <br>
      <label for "search">You like this website:check </label> <input type="checkbox">
      <br>
      <label for "name"> Name </label> <input type ="text" name = "name">
      <br>
      <label for "contact"> Email <input type="email" name="contact">
       <br>
      <label for "date"> Date <input type="date" name="date">
      <br>
     <input type="submit" value="SUBMIT!">
      <br>
     <label for "emotion">Emotion</label><select name="emotion">
        <option class="label" value="panic">Panic</option>
       <option class="label" value="happy">Happy</option>
       <option class="label" value="angry">Angry</option>
     </select>
        </form>
  </body>
</html>