<!doctype html>
<html>
  <head>
    <title> Crypt.org </title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Six+Caps' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <h1 id="title"> CRYPT </h1>
    <form method="post">
      <label for "input"> TYPE TEXT HERE: </label> <input type ="text" name = "input">
      <br>
      <label for "contact"> Email <input type="email" name="contact">
       <br>
     <input class="submitbutton" type="submit" value="SUBMIT!">
        </form>
  </body>
</html>