<!Doctype html>
<html>
  <head>
    <title> Encrypted </title>
    <link rel="stylesheet" type="text/css" href="css/style2.css">
    <link href='http://fonts.googleapis.com/css?family=Six+Caps' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  </head>
  
  <body>
    <h1 id="title"> CRYPT </h1>
    <div>
    <p id="message">Encrypted Message: <%= @answer1 %></p>
    </div>
  </body>
</html>
    