<!Doctype html>
<html>
  <head>
    <title> Encrypted </title>
    <link rel="stylesheet" type="text/css" href="css/style2.css">
  </head>
  
  <body>
    <h1 id="title"> CRYPT </h1>
    <div>
    <p id="message">Decrypted Message: <%= @answer2 %></p>
    </div>
    <form method= "get" action= "/home">
      <input class="submitbutton" type="submit" value="Click Here to Return Home">
    </form>
      </body>
</html>
    