#title {
font-family: 'Six Caps', sans-serif;
font-size:200px;
text-align:center;
}
body {
  font-family: 'Six Caps', sans-serif;
  font-weight:bold;
  text-align:center;
  color: white;
  background: url(../images/matrix-animated-image.gif);
}

#encrypted {
/*   font-family:wingdings; */
  font-size:100px;
}

