@import url('https://fonts.googleapis.com/css?family=Six+Caps');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

#title {
font-family: 'Six Caps', sans-serif;
font-size:200px;
text-align:center;
margin-bottom: 20px;
margin-top: 20px;
color: white;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-weight:bold;
  color: black;
  background: url(../images/matrix-animated-image.gif);
  font-size: 20px;
}
h2 {
  text-align: center
}

form {
  border: 4px solid white;
  margin-left:33%;
  margin-right:33%;
  width:33%;
  padding:10px;
  border-radius:20%;
  background-color: white;
  
}
.submitbutton {
 border: 2px solid white;
 font-family: 'Montserrat', sans-serif;
}

.box {
  color: grey;
}
