#title {
font-family: 'Six Caps', sans-serif;
font-size:200px;
text-align:center;
margin-bottom: 20px;
margin-top: 20px;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-weight:bold;
  text-align:center;
  color: white;
  background: url(../images/matrix-animated-image.gif);
/*   font-size: 20px; */

}

#message {
/*   font-family:wingdings; */
  font-size:20px;
  border: 4px solid white;
  margin-left:33%;
  margin-right:33%;
  width:33%;
  padding:10px;
  border-radius:20%;
  background-color:white;
  color: black;
}
div {
  border: 4px solid white;
  border-radius: 20%;
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
}
